@import "../../styles/constants";

.bannerAbout {
	background: #ebe5db;

	&__inner {
		display: flex;
		padding: 72px 0px;

		justify-content: center;
	}

	&__item {
		max-width: 310px;

		&:not(:last-child) {
			margin-right: 39px;
		}

		img {
			width: 140px;
			height: 140px;
			object-fit: cover;
			border-radius: 4px;
			margin-bottom: 20px;
		}

		h4 {
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			letter-spacing: 0.06em;
			font-weight: 400;
		}
	}
}

.bannerBottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 104px;
	margin-top: 104px;
	border-radius: 8px;
	overflow: hidden;
}

.bannerBottom__left {
	width: 50%;
	background: $color-beige;
	padding: 56px 0px 0px 72px;
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0px;
	padding-left: 72px;
}

.bannerBottom__title {
	margin: 0px;
	line-height: 48px;
}

.bannerBottom__right {
	position: relative;
	height: 288px;
	width: 50%;
}

.bannerTop {
	width: 100%;
	height: 564px;
	display: flex;
	margin-bottom: 104px;

	position: relative;
}

.bannerTop h2 {
	margin-top: 0px;
	line-height: 72px;
}

.bannerTop__first {
	background: $color-beige;
}

.bannerTop__image {
	height: 100%;
	width: calc(100% / 3);
}

.bannerTop__caption {
	position: absolute;
	max-width: 800px;
	top: 148px;
	left: 112px;

	margin-bottom: 3px;
	top: 50%; 

	    top: unset;
    margin-top: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bannerTop__caption > p {
	font-size: 20px;
}

.bannerMiddle {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 504px;
	margin-bottom: 104px;
	border-radius: 8px;
	overflow: hidden;
}

.bannerMiddle__image {
	position: relative;
	height: 50%;
}

.bannerMiddle__text {
	background: $color-beige;
	height: 50%;
	padding-top: 69px;
	text-transform: uppercase;
}

.bannerMiddle__text p {
	margin-top: 0px;
	letter-spacing: 0.06em;
}

.bannerMiddle__title {
	font-size: 72px;
	margin: 0px;
	font-weight: 500;
}

.bannerMiddle__imageWrapper {
	width: calc(100% / 2);
	position: relative;
}

.bannerMiddle__imageWrapper:last-child {
	display: none;
}

@media (max-width: 768px) {
	.bannerAbout__inner {
		flex-direction: column;
		align-items: center;
		padding: 65px 0px 10px;
	}

	.bannerAbout__item {
		width: 100%;
		margin-bottom: 34px;

		&:not(:last-child) {
			margin-right: 0px;
		}
	}

	.bannerTop {
		display: block;
		height: auto;
		margin-bottom: 64px;
	}

	.bannerTop h2 {
		line-height: 48px;
	}

	.bannerTop p {
		line-height: 28px;
	}

	.bannerTop__caption {
		top: 0;
		left: 0px;
		position: relative;
		background: $color-beige;
		margin-bottom: 0px;
		padding: 64px 20px;
		transform: none;
	}

	.bannerTop__first {
		display: none;
	}

	.bannerTop__third {
		display: flex;
	}

	.bannerTop__third > div {
		height: 100% !important;
		width: 50% !important;
	}

	.bannerTop__image {
		height: 240px;
		width: 100%;
	}

	.bannerMiddle {
		flex-direction: column;
		height: auto;
		border-radius: 0px;
	}
	.bannerMiddle__imageWrapper {
		width: 100%;
		display: flex;
		height: 456px;
		flex-direction: column;
	}

	.bannerMiddle__image {
		height: 50%;
		width: 100%;
		order: 2;
	}

	.bannerMiddle__text {
		height: 50%;
		padding-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		order: 1;
	}

	.bannerBottom {
		flex-direction: column;
		border-radius: 0px;
		margin-top: 56px;
		margin-bottom: 0px;
	}

	.bannerBottom h3 {
		margin-bottom: 18px;
	}

	.bannerBottom__left {
		width: 100%;
		padding: 64px 20px;
	}

	.bannerBottom__right {
		width: 100%;
	}

	.mobileWhite {
		background: white;
	}
}
