.logo {
	display: flex;
	align-items: center;
}

.logo img {
		width: 128px !important;
	height: 30px !important;
}

.logo a {
	    line-height: 1px;
}


@media (max-width: 768px) {

 
.logo img {
	width: 100px !important;
	height: 22px !important;
}

}