@import "../../styles/constants";

.paddingTop {
    padding-top: 48px;
}

.header {
    position: absolute;
    background: $color-beige;
    height: 516px;
    width: 100%;
    z-index: -1;
}

.projectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 73px;
    gap: 70px;
    row-gap: 40px;
}

.projectListItem {
    width: 468px;
    margin: auto;
}

.projectListItem__marginTop {
    margin-top: -65px;
}

.projectsAllButton {
    margin-top: 40px;
}

.projectsAllButton a {
    display: inline-block;
    font-size: 14px;
    margin-top: 14px;
    padding: 10px 16px 10px 16px;
}

.projectListItem__discover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(24, 21, 18, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    cursor: pointer;
}

.projectListItem__discoverCaption {
    text-transform: uppercase;
}

.projectListItem__discoverCaption:after {
    content: url("../../public/images/arrow_next.svg");
    margin-left: 12px;
    filter: brightness(0) invert(1);
}

.projectListItem__imageBlock:hover .projectListItem__discover {
    display: flex;
}

.projectListItem__imageBlock:hover .projectListItem__image {
    transform: scale(1.1);
    transition: 0.7s;
}

.projectListItem__imageBlock {
    position: relative;
    line-height: 1px;
    overflow: hidden;
    border-radius: 4px;
}

.projectListItem__image {
    transition: 0.3s;
}

.projectListItem__caption {
    text-align: left;
}

.projectListItem__title {
    margin: 9px 0px 8px;
}

.projectListItem__data {
    color: #4a4744;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 24px;
}

.projectData {
    display: flex;
    //margin-bottom: 72px;
    margin-bottom: 112px;
    margin-top: 41px;
}

.projectData p {
    margin-top: 0px;
    color: #686562;
    margin-bottom: 11px;
    text-align: left;
}

.projectData__stats {
    display: flex;
    min-width: 314px;
}

.projectData__stats > div:not(:last-child) {
    margin-right: 32px;
}

.projectData h4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

.projectData__desc {
    letter-spacing: 0.02em;
    line-height: 24px;
    text-align: left;
}

@media (max-width: 1216px) {
    .projectList {
    }

    .projectListItem {
        width: 100%;
    }

    .projectData__desc {
        margin-left: 0px;
    }

    .projectData__stats {
        width: auto;
    }

    .projectData {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    .projectData h4 {
            margin-bottom: 24px;
    }
    
    .projectData__stats > div:not(:last-child) {
        margin-right: 24px;
    }

    .paddingTop {
        padding-top: 25px;
    }

    .projectList {
        grid-template-columns: 1fr;
        margin-top: 45px;
    }

    .projectListItem__marginTop {
        margin-top: 0px;
    }

    .projectData {
        grid-template-columns: 1fr;
        margin-top: 33px;
        margin-bottom: 48px;

        &__stats {
            flex-direction: column;
        }
    }


}
