.about {
 display: flex;
 margin-bottom: 104px;
 padding-top: 24px;

	&__left {
		    width: 80%;
    text-align: left;
    padding-right: 56px;
    font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

h3 {
	font-size: 28px;
	    margin-bottom: 33px;
}
	}

	&__right {
		 width: 50%;

		 img {
		 	width: 100%;
		 	border-radius: 8px;

		 }
	}
}


@media (max-width: 768px) {
	.about {
		flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 63px;

    	&__left {
 width: 100%;
 order: 2;


 h3 {
 	font-weight: 700;
 }
    	}

    	&__right {
		 width: 100%;
		 order: 1;
		     margin-bottom: 65px;

		 img {
		 	    height: 240px;
    object-fit: cover;
		 }
		}
	}
}

@media (min-width: 769px) and (max-width: 1250px) {
.about {
    padding: 0px 20px;
  }
}