.scrollButton__wrapper {
	position: relative;
}

.scrollButton {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	/* white/solid */

	background: #ffffff;
	/* gray/300 */

	border: 1px solid #b1b0b0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

@media (max-width: 768px) {
	.scrollButton__wrapper {
		display: none;
	}
}
